<div style="padding: 20px;">
  <h2>Pager Duty Schedules</h2>

  <div>
    <label for="token">Token:</label>
    <input type="password" id="token" [(ngModel)]="token" placeholder="Enter Token" />
  </div>
  
  <div>
    <label for="id">Schedule ID:</label>
    <input type="text" id="id" [(ngModel)]="id" placeholder="Enter Schedule ID" />
  </div>

  <div>
    <label for="fromDate">From Date:</label>
    <input type="datetime-local" id="fromDate" [(ngModel)]="fromDate" />
  </div>

  <div>
    <label for="toDate">To Date:</label>
    <input type="datetime-local" id="toDate" [(ngModel)]="toDate" />
  </div>
  <div>
    <label for="payment">Payment:</label>
    <input type="text" id="payment" [(ngModel)]="payment" placeholder="Enter Payment Amount" />
  </div>
  
 

  <button (click)="getSchedules()">Get Schedules</button>

  <div *ngIf="isLoading">Loading...</div>

   <table *ngIf="this.schedules">
    <thead>
      <tr>
        <th>Start Time</th>
        <th>End Time</th>
        <th>User</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let schedule of schedules">
        <td>{{ schedule.start }}</td>
        <td>{{ schedule.end }}</td>
        <td>{{ schedule.user.summary }}</td>
      </tr>
    </tbody>
  </table> 

  <button *ngIf="this.schedules" (click)="exportToExcel()">Export to Excel</button>
</div>